/* src/components/hero section/announcement-bar/AnnouncementBar.module.css */
.marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}