

@import "tailwindcss";



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}





.AboutSection{
  background-color: rgb(239, 223, 223);
}
.EventSection{
   background-color: rgb(239, 223, 223);
}
.FAQSection{
    background-color: rgb(239, 223, 223);
}
.Footer{
    background-color: rgb(239, 223, 223);
}
.LowerFooter{
   background: rgba(10, 31, 26, 1);
   color: white;

}
.GallerySection{
   background-color: rgb(239, 223, 223);
}
.AnnouncementBar{
   background-color: rgb(10, 28, 10);
}
.Navbar{
    background-color: rgb(239, 223, 223);
}
.HeroSection{
   background-color: rgb(239, 223, 223);
}
.highlights{
   background-color: rgb(239, 223, 223);
}
.NewsletterSection{
    background-color:  rgb(61, 96, 88);
}
.TestimonialsSection{
    background-color: rgb(239, 223, 223);
}
